<footer class="main-footer">


    <div class="div-img-footer">

            <img class="footer-img" src="/images/Logo San José para pared.png" alt="imagen del logo">

    </div>

    <div class="div-ul-footer">
        <ul>
            <li>
                <a>Nuestra Compañía</a>
            </li>
            <li>
                <a>Nuestra Historia</a>
            </li>
            <li>
                <a>Misión</a>
            </li>
            <li>
                <a>Visión</a>
            </li>
            <li>
                <a>Trabaja con Nosotros</a>
            </li>

        </ul>
    </div>

    <div class="div-footer-icons">
        <ul>
            <li>
                <a href="#" class="facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="#" class="instagram">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </li>
            <li>
                <a href="#" class="email">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>

</footer>