<footer class="main-footer">

    <div class="div-img-footer">

        <img class="footer-img" src="/images/Logo San José para pared.png" alt="imagen del logo">

    </div>

    <div class="div-ul1-footer">
        <ul class="ul-footer">
            <li>
                <h3>Nuestra compañía</h3>
            </li>
            <li>
                <a>Nosotros</a>
            </li>
            <li>
                <a>Nuestra Historia</a>
            </li>
            <li>
                <a>Misión</a>
            </li>
            <li>
                <a>Visión</a>
            </li>
            <li>
                <a>Trabaja con Nosotros</a>
            </li>

        </ul>
    </div>

    <div class="div-ul2-footer">
        <ul>
            <li>
                <h3>Encuentranos en</h3>
            </li>
            <li>
                <a href="#" class="facebook">
                    <i class="fab fa-facebook-square"> Facebook</i>
                </a>
            </li>
            <li>
                <a href="#" class="instagram">
                    <i class="fab fa-instagram-square"> Instagram</i>
                </a>
            </li>
            <li>
                <a href="#" class="email">
                    <i class="fas fa-envelope"> Email</i>
                </a>
            </li>
        </ul>
    </div>

</footer>