<header class="main-header">
  <nav class="navbar-main">
    <div>
      <a href="/">
        <img class="img-header" src="/images/Logo San José para pared2.png" alt="Imagen del logo">
      </a>

    </div>

    <ul class="nav-tabs">
      <li><a class="nav-icons" href="/">Inicio</a></li>
      <li><a class="nav-icons" href="/productos/lista">Productos</a></li>
      <li><a class="nav-icons" href="/productos/carritoDeCompras">Nuestros de postres</a></li>
      <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
    </ul>


    <ul class="nav-tabs2">
      <% if(locals.isLogged) { %>
        <li><a class="nav2-link" href="/user/perfil"><i class="fas fa-user-circle"></i></a></li>
        <li><a class="nav-icons" href="/user/logout/">Logout</a></li>
        <% } else { %>
          
          <form action="/productos/resultado" method="GET">
            <input type="search" name="search" id="" value="hola">
            <input type="submit"><ion-icon name="search-outline"></ion-icon></input>
          </form>

          <div class="nav-right">

            <a href="#" class="hdicon"><i class="fas fa-user-circle"></i></a>
            <div id="settingsBox" class="settingsBox">
              <div id="costumer-links">
                <p>
                  <a href="/user/login" class="btn-test">Login</a>
                </p>
                <p class="text-center">
                  Usuario Nuevo?
                  <a href="/user/registro" class="register ctLink">Registrate ahora</a>
                </p>
              </div>
            </div>

          </div>
          <li><a class="nav2-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a class="nav2-link" href='#'><i class="fas fa-bars"></i></a></li>
          <% } %>
    </ul>
  </nav>
  <script src="/js/headerStyles.js"></script>
  <!--<div class="search">
    <input type="search" name="search" id="search-header" placeholder="Busca aqui tu postre" autocomplete="off">
  </div>-->
</header>