<header class="main-header">

    <div>

      <img class="img-header" src="./images/Logo San José para pared2.png" alt="Imagen del logo">

    </div>

    <nav class="navbar-main">
      <ul class="nav-tabs">
        <li><a class="nav-icons" href="#inicio">Inicio</a></li>
        <li><a class="nav-icons" href="#producto">Productos</a></li>
        <li><a class="nav-icons" href="#Micuenta">Mi cuenta</a></li>
        <li><a class="nav-icons"href="#Contactos">Contáctos</a></li>
      </ul>


      <ul class="nav-tabs2">
        <a href="#"><i class="fas fa-search"></i></a>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
        <a href='#'><i class="fas fa-bars"></i></a>
      </ul>
    </nav>

  </header>