<header class="main-header">
  <nav class="navbar-main">
    <div class="logo-container">
      <a href="/">
        <img class="img-header" src="/images/Logo San José para pared2.png" alt="Imagen del logo">
      </a>

    </div>

    <ul class="nav-tabs m-0">
      <li><a class="nav-icons" href="/">Inicio</a></li>
      <li><a class="nav-icons" href="/productos/lista">Tortas y postres</a></li>
      <li><a class="nav-icons about" href="#contactanos">Contáctanos</a></li>
    </ul>


    <ul class="nav-tabs2 m-0">
      <% if (locals.isLogged && locals.usuarioAdmin) { %>
        <li>
          <a class="nav2-link position-relative" href="/productos/carritoDeCompras">
            <i class=" fas fa-shopping-cart"></i>
            <div class="container-number-cart position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              <!--<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger card-number">0</span>-->
            </div>
            <span class="d-none name-shooping-cart">Carrito</span>
            <div class="">
              <!--<div class="container-number-cart">
                <p class="card-number">0</p>
              </div>-->
            </div>
          </a>
        </li>
        <div class="search">
          <a class="search-link" href="#"><i id="search-icon" class="fas fa-search"></i></a>
          <div class="container-search">
            <form action="/productos/resultado" method="GET">
              <input type="search" name="search" class="input-search" id="input-search" value="" placeholder="Buscar">

            </form>
          </div>
        </div>
        <div class="nav-right">
          <a href="#" class="hdicon"><i class="fas fa-user-circle"></i></a>
          <div id="settingsBox" class="settingsBox">
            <div id="costumer-links">
              <p>
                <button class="btn-test">
                  <a href="/user/perfil">MI CUENTA</a>
                </button>
              </p>
              <p>
                <button class="btn-test">
                  <a href="/user/opcionesAdmin">OPCIONES ADMIN</a>
                </button>
              </p>
              <p class="text-center">
                <a href="/user/logout/" class="register ctLink">Cerrar sesion</a>
              </p>
            </div>
          </div>
        </div>
        <li><a class="nav2-link bars" href='#'><i class="fas fa-bars"></i></a></li>
        <div id="menuBox" class="menuBox">
          <div id="menuBoxLinks">
            <div class="rightSideMenu">
              <a href="#" class="popOutButton"><i class="fas fa-window-close"></i></a>
            </div>
            <div class="leftSideMenu">
              <ul class="boxLinksUl">
                <li>
                  <a href="/">Inicio</a>
                </li>
                <li>
                  <a href="/productos/lista">productos</a>
                </li>
                <li>
                  <a href="#contactanos">contactanos</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <% } else if (locals.isLogged) { %>
          <li>
            <a class="nav2-link position-relative" href="/productos/carritoDeCompras">
              <i class=" fas fa-shopping-cart"></i>
              <div class="container-number-cart position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <!--<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger card-number">0</span>-->
              </div>
              <span class="d-none name-shooping-cart">Carrito</span>
              <div class="">
                <!--<div class="container-number-cart">
                  <p class="card-number">0</p>
                </div>-->
              </div>
            </a>
          </li>
          <div class="search">
            <a class="search-link" href="#"><i id="search-icon" class="fas fa-search"></i></a>
            <div class="container-search">
              <form action="/productos/resultado" method="GET">
                <input type="search" name="search" class="input-search" id="input-search" value="" placeholder="Buscar">

              </form>
            </div>
          </div>
          <div class="nav-right">
            <a href="#" class="hdicon"><i class="fas fa-user-circle"></i></a>
            <div id="settingsBox" class="settingsBox">
              <div id="costumer-links">
                <p>
                  <button class="btn-test">
                    <a class="text-decoration-none" href="/user/perfil">MI CUENTA</a>
                  </button>
                </p>
                <p class="text-center">
                  <a href="/user/logout/" class="register ctLink">Cerrar sesion</a>
                </p>
              </div>
            </div>
          </div>
          <li><a class="nav2-link bars" href='#'><i class="fas fa-bars"></i></a></li>
          <div id="menuBox" class="menuBox">
            <div id="menuBoxLinks">
              <div class="rightSideMenu">
                <a href="#" class="popOutButton"><i class="fas fa-window-close"></i></a>
              </div>
              <div class="leftSideMenu">
                <ul class="boxLinksUl">
                  <li>
                    <a href="/">Inicio</a>
                  </li>
                  <li>
                    <a href="/productos/lista">productos</a>
                  </li>
                  <li>
                    <a href="#contactanos">contactanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <% } else { %>

            <li>
              <a class="nav2-link position-relative" href="/productos/carritoDeCompras">
                <i class=" fas fa-shopping-cart"></i>
                <div class="container-number-cart position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <!--<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger card-number">0</span>-->
                </div>
                <span class="d-none name-shooping-cart">Carrito</span>
                <div class="">
                  <!--<div class="container-number-cart">
                    <p class="card-number">0</p>
                  </div>-->
                </div>
              </a>
            </li>
            <div class="search">
              <a class="search-link" href="#"><i id="search-icon" class="fas fa-search"></i></a>
              <div class="container-search">
                <form action="/productos/resultado" method="GET">
                  <input type="search" name="search" class="input-search" id="input-search" value=""
                    placeholder="Buscar">

                </form>
              </div>
            </div>
            <div class="nav-right">
              <a href="#" class="hdicon"><i class="fas fa-user-circle"></i></a>
              <div id="settingsBox" class="settingsBox">
                <div id="costumer-links">
                  <p>
                    <button class="btn-test">
                      <a class="text-decoration-none" href="/user/login">LOGIN</a>
                    </button>
                  </p>
                  <p>
                    <p class="text-center">Usuario Nuevo?</p> 
                    <a href="/user/registro" class="text-center register ctLink">Registrate ahora</a>
                  </p>
                </div>
              </div>
            </div>
            <li><a class="nav2-link bars" href='#'><i class="fas fa-bars"></i></a></li>
            <div id="menuBox" class="menuBox">
              <div id="menuBoxLinks">
                <div class="rightSideMenu">
                  <a href="#" class="popOutButton"><i class="fas fa-window-close"></i></a>
                </div>
                <div class="leftSideMenu">
                  <ul class="boxLinksUl">
                    <li>
                      <a href="/">Inicio</a>
                    </li>
                    <li>
                      <a href="/productos/lista">productos</a>
                    </li>
                    <li>
                      <a href="#contactanos">contactanos</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% } %>
    </ul>
  </nav>
  <script src="/js/headerStyles.js"></script>
  <script src="/js/header.js"></script>
  <!--<div class="search">
    <input type="search" name="search" id="search-header" placeholder="Busca aqui tu postre" autocomplete="off">
  </div>-->
</header>