<header class="main-header">
  <nav class="navbar-main">
    <div>

      <img class="img-header" src="/images/Logo San José para pared2.png" alt="Imagen del logo">

    </div>

    <ul class="nav-tabs">
      <li><a class="nav-icons" href="/">Inicio</a></li>
      <li><a class="nav-icons" href="/productos/createProduct">Productos</a></li>
      <li><a class="nav-icons" href="/user/login">Mi cuenta</a></li>
      <li><a class="nav-icons" href="/productos/carritoDeCompras">Nuestros de postres</a></li>
      <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
    </ul>


    <ul class="nav-tabs2">
      <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>
      <li><a class="nav2-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
      <li><a class="nav2-link" href='#'><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>
  <div class="search">
    <input type="search" name="search" id="search-header" placeholder="Busca aqui tu postre" autocomplete="off">
  </div>
</header>