<header class="main-header">
  <nav class="navbar-main">
    <div>
      <a href="/"> 
         <img class="img-header" src="/images/Logo San José para pared2.png" alt="Imagen del logo">
      </a>

    </div>

    <ul class="nav-tabs">
      <li><a class="nav-icons" href="/">Inicio</a></li>
      <li><a class="nav-icons" href="/productos/lista">Productos</a></li>
      <li><a class="nav-icons" href="/productos/carritoDeCompras">Nuestros de postres</a></li>
      <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
    </ul>


    <ul class="nav-tabs2">
      <% if(locals.isLogged) { %>
      <li><a class="nav2-link" href="/user/perfil"><i class="fas fa-user-circle"></i></a></li>
      <li><a class="nav-icons" href="/user/logout/">Logout</a></li>
      <% } else { %>
        
      <li><a class="nav-icons" href="/user/login">Login</a></li>
      <li><a class="nav-icons" href="/user/registro">Registro</a></li>
      <li><a class="nav2-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
      <li><a class="nav2-link" href='#'><i class="fas fa-bars"></i></a></li>
      <% } %>
    </ul>
  </nav>
  <!--<div class="search">
    <input type="search" name="search" id="search-header" placeholder="Busca aqui tu postre" autocomplete="off">
  </div>-->
</header>