
<header class="main-header">

    

    <nav class="navbar-main">
      <div>

        <img class="img-header" src="/images/Logo San José para pared2.png" alt="Imagen del logo">
  
      </div>
     
      <ul class="nav-tabs">
        <li><a class="nav-icons" href="#inicio">Inicio</a></li>
        <li><a class="nav-icons" href="#producto">Productos</a></li>
        <li><a class="nav-icons" href="#Micuenta">Mi cuenta</a></li>
        <li><a class="nav-icons"href="#Contactos">Contáctos</a></li>
      </ul>


      <ul class="nav-tabs2">
        <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>
        <li><a class="nav2-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
        <li><a class="nav2-link" href='#'><i class="fas fa-bars"></i></a></li>
      </ul>
    </nav>

  </header>