<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fa28797ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/styleHome.css">
    <title>Registro de usuario</title>
</head>

<body>
    <!-- HEADER -->
    <header class="main-header">
        
        <nav class="navbar-main">
            <div class="img-header-div">

                <img class="img-header" src="../public/images/Logo San José para pared2.png" alt="Imagen del logo">

            </div>

            <ul class="nav-tabs">
                <li class="nav-icons"><a href="#inicio">Inicio</a></li>
                <li class="nav-icons"><a href="#producto">Productos</a></li>
                <li class="nav-icons"><a href="#Micuenta">Mi cuenta</a></li>
                <li class="nav-icons"><a href="#Contactos">Contáctos</a></li>
            </ul>


            <ul class="nav-tabs2">
                <a class="nav-link-1" href="#"><i class="fas fa-bars"></i></a>
                <a class="nav-link-2" href="#"><i class="fas fa-search"></i></a>
                <a class="nav-link-3" href="#"><i class="fas fa-shopping-cart"></i></a>
            </ul>
        </nav>

    </header>
    <main>

    </main>

    <!-- PIE DE PAGINA -->

    <footer>

        <div class="footer-img">

            <img class="img-footer" src="../public/images/Logo San José para pared2.png" alt="imagen del logo">

        </div>

        <div>
            <ul>
                <li>
                    <a>Nuestra Compañía</a>
                </li>
                <a>Nuestra Historia</a>
                <li>
                    <a>Misión</a>
                </li>
                <a>Visión</a>
                <li>
                    <a>Trabaja con Nosotros</a>
                </li>

            </ul>
        </div>

        <div>
            <ul>
                <li>
                    <a>
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div>

            <label for="ciudad">Ciudad</label>
            <select name="ciudad" id="ciudad">
                <option value="medellin">Medellin</option>
                <option value="envigado">Envigado</option>
                <option value="itagui">Itagüí</option>
                <option value="la-estrella">La Estrella</option>
            </select>

        </div>

        <div>

            <label for="password">Contraseña:</label>
            <input type="password" placeholder="****" name="password" id="password">

        </div>

        <div>

            <label for="password">Confirmar contraseña:</label>
            <input type="password" placeholder="****" name="password" id="password">

        </div>
        <!-- POLITICA DE TRATAMIENTO -->
        <div>

            <h3>Política de Tratamiento de Datos Personales</h3>

        </div>

        <div>

            <input type="checkbox" name="politica" value="politica" id="politica">
            <label for="politica">He leído la política de tratamiento de datos personales y acepto el uso de mis
                datos</label>

        </div>

        <div>

            <button type="submit">Enviar</button>

        </div>

        </form>

        <footer>

        </footer>

</body>

</html>