<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4fa28797ee.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/css/styleHome.css">
  <title>Registro de usuario</title>
</head>

<body>
  <!-- HEADER -->
  <header class="main-header">

    <div>

      <img class="img-header" src="../public/images/Logo San José para pared2.png" alt="Imagen del logo">

    </div>

    <nav class="navbar-main">
      <ul class="nav-tabs">
        <li class="nav-icons"><a href="#inicio">Inicio</a></li>
        <li class="nav-icons"><a href="#producto">Productos</a></li>
        <li class="nav-icons"><a href="#Micuenta">Mi cuenta</a></li>
        <li class="nav-icons"><a href="#Contactos">Contáctos</a></li>
      </ul>


      <ul class="nav-tabs2">
        <a href="#"><i class="fas fa-search"></i></a>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
        <a href='#'><i class="fas fa-bars"></i></a>
      </ul>
    </nav>

  </header>
  <!-- MAIN -->
  <main>
    <div class="main-carrito-de-compras">
      <h3 class="h3-carrito-de-compras">Carrito de compras</h3>
      <div class="titles-carrito-de-compras">
        <p class="p-carrito-de-compras">Producto</p>
        <p class="p-carrito-de-compras">Producto </p>
        <p class="p-carrito-de-compras">Cantidad</p>
        <p class="p-carrito-de-compras">Total</p>
      </div>
      <div class="producto-carrito-de-compras">
        <div class="producto-img-carrito-de-compras">
          <a href="#">
            <img src="" alt="">
          </a>
        </div>
        <div class="descripción-producto-carrito-de-compras">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus minima maxime quasi omnis quod esse nemo nesciunt quisquam vero suscipit, sint enim distinctio vel debitis sequi laudantium repellendus magni sed!</div>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
      </div>
    </div>
  </main>

  <!-- PIE DE PAGINA -->

  <footer class="main-footer">

    <div class="footer-container">

      <div class="div-img-footer">

        <img class="footer-img" src="../public/images/Logo San José para pared.png" alt="imagen del logo">

      </div>
      <div class="ul-footer">
        <div class="div-ul1-footer">
          <ul>
            <li>
              <a>Nuestra Compañía</a>
            </li>
            <li>
              <a>Nuestra Historia</a>
            </li>
            <li>
              <a>Misión</a>
            </li>
            <li>
              <a>Visión</a>
            </li>
            <li>
              <a>Trabaja con Nosotros</a>
            </li>

          </ul>
        </div>

        <div class="div-ul2-footer">
          <ul>
            <h3>siguenos</h3>
            <li>
              <p>facebook:</p>
              <a href="#" class="facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <p>instagram:</p>
              <a href="#" class="instagram">
                <i class="fab fa-instagram-square"></i>
              </a>
            </li>
            <li>
              <p>email:</p>
              <a href="#" class="email">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

</body>

</html>
