<!DOCTYPE html>
<html lang="en">

  <%- include("partials/head.ejs", {title: 'Carrito de compras'}) %> 


<body>
  <!-- HEADER -->

  <%- include("partials/header.ejs") %>

    <!-- MAIN -->
    <main>
      
      <section class="d-flex w-100 cart-section-container">
        <div class=" mt-2 d-flex flex-column align-items-center cart-list cart-inner-container">
          <% let subTotal = 0 %>
          <div class="cart-row">

          </div>
        </div>
        <aside class="p-2 cart-aside">
          <div class="w-100 p-3 shadow">
            <span class="w-50 text-start">SUBTOTAL</span>
            <span class="w-50 text-end cart-subtotal">$ 0</span>
            <div class="w-100">
              <p class="text-center">Gastos de envio y descuentos calculados al momento de pagar</p>
              <button class="pay-btn w-100">
                <span>IR A PAGAR</span>
              </button>
            </div>
          </div>
        </aside>
      </section>

      <!--<div class="footer-main-carrito-de-compras">
        <p class="h3-subtotal">SUBTOTAL</p>
        <p class="p-subtotal">$0</p>
        <p class="h3-total">TOTAL DE TU COMPRA</p>
        <P class="p-total">$0</P>
      </div>-->
    </main>


    <!-- PIE DE PAGINA -->

    <%- include("partials/footer.ejs") %>
    <script src="/js/delete.js"></script>
    <script src="/js/shoppingCartFunctionality.js"></script>
    

</body>

</html>