<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4fa28797ee.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/styleHome.css">
  <title>Carrito de compras</title>
</head>

<body>
  <!-- HEADER -->
  <header class="main-header">

    <div>

      <img class="img-header" src="./images/Logo San José para pared2.png" alt="Imagen del logo">

    </div>

    <nav class="navbar-main">
      <ul class="nav-tabs">
        <li><a class="nav-icons" href="#inicio">Inicio</a></li>
        <li><a class="nav-icons" href="#producto">Productos</a></li>
        <li><a class="nav-icons" href="#Micuenta">Mi cuenta</a></li>
        <li><a class="nav-icons" href="#Contactos">Contáctos</a></li>
      </ul>


      <ul class="nav-tabs2">
        <a href="#"><i class="fas fa-search"></i></a>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
        <a href='#'><i class="fas fa-bars"></i></a>
      </ul>
    </nav>

  </header>
  <!-- MAIN -->
  <main>
    <div class="main-carrito-de-compras">
      <div class="h3-carrito-de-compras-1">
        <h3 class="h3-carrito-de-compras">Carrito de compras</h3>
      </div>
      <div class="titles-carrito-de-compras">
      </div>
      <div class="producto-carrito-de-compras">
        <p class="p1-carrito-de-compras">Producto</p>
        <div>
          <a href="#">
            <img class="img-producto-carrito-de-compras" src="./images/WhatsApp Image 2022-05-31 at 9.17.56 PM.jpeg"
              alt="">
          </a>
        </div>


        <div class="content-bottom">
          <div class="content-descripcion-producto-carrito-de-compras">

            <div class="descripcion-producto-carrito-de-compras">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
              Delectus minima maxime quasi omnis quod </div>
            <button class="btn-CDC">Enviar</button>
          </div>
          <p class="p2-carrito-de-compras">Cantidad</p>
          <p class="p-precio">0</p>
          <p class="p3-carrito-de-compras">Total</p>
          <p class="p-precio">$0</p>
        </div>
        <p class="p1-carrito-de-compras">Producto</p>
        <div>
          <a href="#">
            <img class="img-producto-carrito-de-compras" src="./images/WhatsApp Image 2022-05-31 at 9.17.59 PM.jpeg"
              alt="">
          </a>
        </div>


        <div class="content-bottom">
          <div class="content-descripcion-producto-carrito-de-compras">

            <div class="descripcion-producto-carrito-de-compras">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
              Delectus minima maxime quasi omnis quod </div>
            <button class="btn-CDC">Enviar</button>
          </div>
          <p class="p2-carrito-de-compras">Cantidad</p>
          <p class="p-precio">0</p>
          <p class="p3-carrito-de-compras">Total</p>
          <p class="p-precio">$0</p>
        </div>
      </div>
    </div>
    <div class="footer-main-carrito-de-compras">
      <p class="h3-subtotal">SUBTOTAL</p>
      <p class="p-subtotal">$0</p>
      <p class="h3-total">TOTAL DE TU COMPRA</p>
      <P class="p-total">$0</P>
    </div>
  </main>

  <!-- PIE DE PAGINA -->

  <footer class="main-footer">

    <div class="footer-container">

      <div class="div-img-footer">

        <img class="footer-img" src="./images/Logo San José para pared.png" alt="imagen del logo">

      </div>
      <div class="ul-footer">
        <div class="div-ul1-footer">
          <ul>
            <li>
              <a>Nuestra Compañía</a>
            </li>
            <li>
              <a>Nuestra Historia</a>
            </li>
            <li>
              <a>Misión</a>
            </li>
            <li>
              <a>Visión</a>
            </li>
            <li>
              <a>Trabaja con Nosotros</a>
            </li>

          </ul>
        </div>

        <div class="div-ul2-footer">
          <ul>
            <h3>siguenos</h3>
            <li>
              <p>facebook:</p>
              <a href="#" class="facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <p>instagram:</p>
              <a href="#" class="instagram">
                <i class="fab fa-instagram-square"></i>
              </a>
            </li>
            <li>
              <p>email:</p>
              <a href="#" class="email">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

</body>

</html>