<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

  <body>

    <%- include("partials/header.ejs") %>

      <!-- Main -->

      <div class="div-img-slider">
        <img class="img-slider" src="/images/cake2.jpg" alt="">
      </div>


      <section class="contain-main">

        <div class="div-product-contain">

          <div class="product-contain">

            <div class="product-home">

              <div class="div-img-home">

                <img class="img-product-home" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg"
                  alt="Imagen de torta">

              </div>

              <h4>Nombre torta</h4>

              <h5>Tamaños</h5>

              <div class="sizes">

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Pequeño</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>4</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$20.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Mediano</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>6 - 8</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$35.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Grande</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>10 - 12</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$55.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

              </div>

              <div class="div-btn-agregar">

                <button class="btn-agregar"><i class="fas fa-check-circle"></i> Agregar al carrito</button>

              </div>

            </div>

          </div>

          <div class="product-contain">

            <div class="product-home">

              <div class="div-img-home">

                <img class="img-product-home" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg"
                  alt="Imagen de torta">

              </div>

              <h4>Nombre torta</h4>

              <h5>Tamaños</h5>

              <div class="sizes">

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Pequeño</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>4</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$20.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Mediano</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>6 - 8</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$35.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Grande</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>10 - 12</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$55.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

              </div>

              <div class="div-btn-agregar">

                <button class="btn-agregar"><i class="fas fa-check-circle"></i> Agregar al carrito</button>

              </div>

            </div>

          </div>


          <div class="product-contain">

            <div class="product-home">

              <div class="div-img-home">

                <img class="img-product-home" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg"
                  alt="Imagen de torta">

              </div>

              <h4>Nombre torta</h4>

              <h5>Tamaños</h5>

              <div class="sizes">

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Pequeño</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>4</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$20.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Mediano</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>6 - 8</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$35.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

                <div class="circles-container">

                  <ul class="ul-circle">

                    <li class="li-cakesize">Grande</li>

                    <li class="li-circle">

                      <div class="circle">

                        <a class="a-portion" href="#">

                          <span>

                            <span>10 - 12</span>
                            <br>
                            <span>Porciones</span>

                          </span>
                        </a>

                      </div>

                    </li>

                    <li class="li-price">

                      <span>

                        <span>$55.000</span>

                      </span>

                    </li>
                  </ul>

                </div>

              </div>

              <div class="div-btn-agregar">

                <button class="btn-agregar"><i class="fas fa-check-circle"></i> Agregar al carrito</button>

              </div>

            </div>

          </div>

        </div>

      </section>

      <section class="section-nuestrac">

        <div class="div-nuestrac">

          <h2>Nuestra compañia</h2>

        </div>

        <div class="div-p-nuestrac">

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat numquam fuga facilis. Enim, reiciendis,
            tempora consequatur ratione quo esse, molestias placeat voluptates libero sequi hic minus dolorum quidem rem
            sint.</p>

        </div>

      </section>

      <section class="section-blog">

        <div class="div-noticias">

          <h2>Noticias</h2>

        </div>

        <form class="Form-registro" action="">

          <div>
            <input class="control" type="text" name="inscribirme" placeholder="Ingresa tu correa">
          </div>

          <div class="button-form-noticias">
            <button type="submit">Suscribirme</button>
          </div>

        </form>

      </section>

      <!--<main class="contain-main" >
        

        <div class="grid-3">

          <div>
            <img style="width:100%; height: 56%;" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
            
              <p>Torta de Oro</p>
              <p>Elige el Tamaño</p>

              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
            
            <a href=""><button class="btn-car" style="width: 75%; height: 3em;">Añadir al Carrito</button></a>
            
          </div>

          <div>
            <img  src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
            
              <p>Torta de Oreo</p>
              <p>Elige el Tamaño</p>

              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
            
            <button class="btn-car" >Añadir al Carrito</button>
          </div>


          <div>
            <img style="width:100%; height: 56%;" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
            
              <p>Torta de Oreo</p>
              <p>Elige el Tamaño</p>

              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
              <img class="img-prod2" src="/images/WhatsApp Image 2022-05-31 at 9.17.57 PM.jpeg">
            
            <button class="btn-car">Añadir al Carrito</button>
          </div>

        </div>

        <br>

        

        
          <h1>NUESTRA COMPAÑÍA</h1>
        

        <div>
          
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nunc maximus, nulla ut commodo <br> sagitis,
            sapien
            dui mattis dui, non pulvinar lorem felis nec erat
          
        </div>

        

        
          <h1>BLOG Y NOTICIAS</h1>
        


        <div class="grid">

          <div class="space"> </div>

          <div>
            
              Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit. <br>Nunc maximus, nulla ut <br>commodo
              sagitis,
              sapien dui <br> mattis dui, non pulvinar lorem <br> felis nec erat
            
            <br><br>
            <button>Leer Más</button>
          </div>

          <div class="space"> </div>

          <div>
            
              Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit. <br>Nunc maximus, nulla ut <br>commodo
              sagitis,
              sapien dui <br> mattis dui, non pulvinar lorem <br> felis nec erat
            
            <br><br>
            <button>Leer Más</button>
          </div>

        </div>



        

        <div class="grid-2">

          <div class="space"></div>

          <div>
            Horarios de Atención:
            <br><br><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nunc maximus, null at commodo sagitis, sapien
            dui
            mattis dui, non pulvinar lorem felis nesc
          </div>

          <div class="space"> </div>

          <div class="container">

            <input type="text"
              style="width: 120%; height: 20%; border: 1px solid; border-top-left-radius: 20px; border-bottom-left-radius: 20px">
            <button
              style="height: 23.5%; border-top-right-radius: 20px;border-bottom-right-radius: 20px; border: 1px solid; border-color: black; width:40%">Suscribirse</button>
          </div>
        </div>-->



      <%- include("partials/footer.ejs") %>

  </body>

</html>