<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs", {title: 'Opciones de admin' }) %>


    <body>

        <!-- Header -->
        <%- include("partials/header.ejs") %>

            <!-- Main -->
            <main class="mainAdmin">
                <h1>Bienvenido a las opciones de administrador</h1>
                <div>
                    <a  class="adminList"  id="adminList" href="/productos/lista">Lista de productos</a> 
                </div>
                <div>
                    <a  class="adminCreate" id="adminCreate" href="/productos/createProduct">Creación de productos</a>
                </div>
            </main>


            <!-- Footer -->
            <%- include("partials/footer.ejs") %>



    </body>

</html>