<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %> 


<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

        <!-- Main -->
        <main class="mainAdmin">
            <h1>Bienvenido a las opciones de administrador</h1>

            <a href="/productos/lista">Lista de productos</a>
        </main>


        <!-- Footer -->
        <%- include("partials/footer.ejs") %>



</body>

</html>