<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header class="main-header">

        <div>

            <img class="img-header" src="./images/Logo San José para pared2.png" alt="Imagen del logo">

        </div>

        <nav class="navbar-main">
            <ul class="nav-tabs">
                <li class="nav-icons"><a href="#inicio">Inicio</a></li>
                <li class="nav-icons"><a href="#producto">Productos</a></li>
                <li class="nav-icons"><a href="#Micuenta">Mi cuenta</a></li>
                <li class="nav-icons"><a href="#Contactos">Contáctos</a></li>
            </ul>


            <ul class="nav-tabs2">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </ul>
        </nav>

    </header>

    <section>

        <div>

            <h2>Nombre del producto</h2>

        </div>

        <div>

            <h4>Precio</h4>

        </div>

        <div>

            <img src="" alt="">

        </div>

        <div>

            <img src="" alt="">

            <img src="" alt="">

        </div>

        <div>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae placeat optio similique eum ipsam cumque! Iure quaerat quis exercitationem nihil maxime quod quos iste, voluptatum possimus expedita consequatur nulla quo?</p>
            
        </div>

        


    </section>

</body>

</html>