<article class="card">
    <div class="card-left">
        <figure>
            <img src="/images/IMG-1596.JPG" alt="">
        </figure>

        <h3>Id producto</h3>

    </div>
    <div class="card-content">
        
        <h3><%= productos.nombre %></h3>

        <p>precio: <span><%= productos.precio %></span></p>

        <p>Tamaño: <span><%= productos.tamaño %></span></p>

        <div>
            <a class="ver-detalle" href="/productos/detail">Ver detalle</a>
        </div>
        
    </div>

</article>