* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ESTILOS DEL HEADER */
.main-header {
  padding: 10px 16px;
  background-color: #fae1cf;
  display: flex;
  justify-content: space-between;
}

.img-header,
.img-footer {
  width: 60px;
}

.nav-tabs {
  display: flex;
  list-style: none;

}

.nav-icons {
  display:none;
  list-style-type: none;
  font-size: 19px;
  font-family: "brygada 1918", serif;
  color: #000000;
  padding: 6px;
  margin: 0px 7px 0px 7px;
}

.navbar-main {
  display: flex;
}

.nav-tabs2 li {
  display: flex;
}

.fa-bars,
.fa-search,
.fa-shopping-cart {
  font-size: 27px;
  margin: 9px;
  color: #8CC0DE;
}

.fa-bars {
  margin-top: 12px;
  font-size: 40px;
}

.fa-search {
  display: none;
}

.fa-shopping-cart {
  display: none;
}

.ingreso div h2 {
  text-align: center;
}

.ingreso div h3 {
  text-align: center;

}

/* ESTILOS MAIN */

.contain-main {
    min-height: 90vh;
}

/* ESTILOS DE MAIN DE CARRITO DE COMPRAS */


.main-carrito-de-compras {
  background-color: #F1F1F1;
  min-height: 90vh;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 3px;
}

.h3-carrito-de-compras {

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titles-carrito-de-compras {
  display: flex;
  justify-content: space-around;
}

.p1-carrito-de-compras {
  font-weight: bold;
  padding-left: 5px;
}

.p2-carrito-de-compras,
.p3-carrito-de-compras {
  padding-left: 5px;
  font-weight: bold;
}


.img-producto-carrito-de-compras {
  margin: 20px 5px 10px;
  border: solid rgba(255, 0, 0, 0.367) 2px;
  height: 290px;
  width: 290px;
}



.descripcion-producto-carrito-de-compras {
  margin: 10px 5px;
  width: 390px;
}

.p-precio {
  margin: 10px 0px;
}

.btn-CDC {
  border: solid 1px;
  margin: 10px;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  background-color: #279add;
  font-weight: bold;
}

/* ESTILOS DE FOOTER*/

.main-footer {
  width: 100%;
  background-color: #fae1cf;
  padding: 20px;
}



.main-footer .div-img-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 27%;
  margin-bottom: 20px;
}

.ul-footer {
  display: flex;
  justify-content: space-around;
}

.div-ul1-footer {
  margin-right: 25px;
  width: 100%;
}

.div-ul1-footer ul li {
  list-style: none;
  text-align: left;
}

.div-ul1-footer ul li a:hover {
  text-decoration: underline;
}

.div-ul2-footer {
  width: 100%;
  display: flex;
}

.div-ul2-footer ul {
  list-style: none;
  display: flex;
  padding-left: 20%;
  flex-direction: column;
  justify-content: space-evenly;
}

.div-ul2-footer ul li a {
  color: #000000;
}

/* ESTILOS DE REGISTRO */

.seccion-registro {
  width: 100%;
  padding: 20px;
}

.seccion-registro .tit-registro {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;

}

.seccion-registro .tit-crea-cuenta {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.form-registro {
  width: 100%;
}

.control-form {
  margin-bottom: 15px;
}

.control-form label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}

.control {
  padding: 8px;
  width: 100%;
}

.div-politic-title {
    margin-bottom: 20px;
}

.control-politic {
    padding-bottom: 20px;
}

.control-politic label{
    margin-bottom: 5px;
    font-style: italic;
}

.button-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-form button {
    background-color: #FFA500;
    color: #000000;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: none;
    transition: 
    background-color, 0.5s
    color, 0.5s;

}

.button-form button:hover {
    background-color: #8CC0DE;
    color: #FFFFFF;
}

/* ESTILOS DE LOGIN */

.ingreso {
    width: 100%;
    padding: 20px;
}

.div-olvidaste{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

/* ESTILOS DE PRODUCT DETAIL */

.div-big-img {
    position: relative;
    padding-top: 20px;
    width: 100%;
}

.div-big-img a .big-img {
    width: 100%;
}

.div-litle-imgs {
    width: 100%;
}

.div-litle-imgs a {
    width: 100%;    
}

.div-litle-imgs a .litle-img {
    width: 20%;
}

.div-description {
    width: 100%;
    padding-top: 20px;
}

.product-detail {
    width: 100%;
    padding: 20px;
}

.sizes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.circle-container {
    width: 100%;
    padding: 10px;
}

.ul-circle {
    list-style: none;
}

.li-cakesize {
    text-align: center;
    font-weight: bold;
}

.li-circle {
    padding: 10px;
}

.a-portion {
    text-decoration: none;
    color: #000000;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 70px;
    border-color: #fae1cf;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    line-height: 12px;
    padding-top: 12px;
    margin: auto;
    text-align: center;
}

.circle:hover {
    border-color: #FFA500;
    border-width: 3px;
    font-weight: bold;
}

.li-price {
    text-align: center;
}

.li-price span {
    font-weight: bold;
}

.div-add-shoppingcar {
    display: flex;
    width: 100%;
    margin-top: 20px;
    
}

.amunt-of {
    flex-grow: 0.3;
    padding-left: 20px;
}

.amunt-of .menos {
    text-align: center;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    font-weight: bold;
}

.amunt-of .mas {
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 4px;
    text-decoration: none;
}


.amunt-of input {
    width: 50px;
    border-radius: 20px;
    border-width: 1px;
}

.div-add-button {
    position: relative;
    top: 7px;

}

.add-button {
    background-color: #FFA500;
    color: #000000;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    transition: 
    background-color, 0.5s
    color, 0.5s;
}

.add-button:hover {
    background-color: #8CC0DE;
    color: #FFFFFF;
}


.control-politic label {
  margin-bottom: 5px;
  font-style: italic;
}

/* ----- MEDIA QUERIES-----*/

/* -Containes 1100 px- */
@media only screen and (max-width: 1100px) {

}

/* -Tablet- */
@media only screen and (max-width: 768px) {

}

/* -Mobile- */
@media only screen and (max-width: 480px) {
  
}
