* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ESTILOS DEL HEADER */
.main-header {
    padding: 20px;
    background-color: #fae1cf;
    display: flex;
    justify-content: space-between;
}

.img-header,
.img-footer {
    width: 100px;
}

.nav-tabs {
    display: flex;
    list-style: none;

}

.nav-icons {
    display: none;
    list-style-type: none;
    font-size: 17px;
    font-family: "brygada 1918", serif;
    color: #ffffff;
    padding: 6px;
    margin: 0px 7px 0px 7px;
}

.navbar-main {
    display: flex;
}

.nav-tabs2 li {
    display: flex;
}

.fa-bars,
.fa-search,
.fa-shopping-cart {
    font-size: 27px;
    margin: 9px;
    color: #ADD8E6;
}

.fa-bars {
    margin-top: 40px;
    font-size: 45px;
}

.fa-search {
    display: none;
}

.fa-shopping-cart {
    display: none;
}

.ingreso div h2 {
    text-align: center;
}

.ingreso div h3 {
    text-align: center;

}

/* ESTILOS DE FOOTER*/

.main-footer {
    width: 100%;
    background-color: #fae1cf;
    padding: 20px;
}



.main-footer .div-img-footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-img {
    width: 27%;
}

.div-ul-footer {
    width: 100%;
}

.div-ul-footer ul li{
    list-style: none;
    text-align: left;
}

.div-ul-footer ul li a:hover {
    text-decoration: underline;
}

.div-footer-icons{
    margin-top: 20px;
    width: 100%;
}

.div-footer-icons ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.div-footer-icons ul li a {
    padding-left: 20%;
    color: #000000;
}

/* ESTILOS DE REGISTRO */

.seccion-registro {
    width: 100%;
    padding: 20px;
}

.seccion-registro .tit-registro{
    padding-bottom: 20px;
    width: 100%;
    text-align: center;

}

.seccion-registro .tit-crea-cuenta {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.form-registro {
    width: 100%;
}

.control-form{
    margin-bottom: 15px;
}

.control-form label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    padding: 8px;
    width: 100%;
}

.div-politic-title {
    margin-bottom: 20px;
}

.control-politic {
    padding-bottom: 20px;
}

.control-politic label{
    margin-bottom: 5px;
    font-style: italic;
}

.button-form {
    display: flex;
    justify-content: center;
}

.button-form button {
    border: none;
    border-radius: 8%;
    width: 30%;
    height: 50px;
    background-color: #FFA500;
    color: #000000;
    transition: 
    background-color, 0.5s,
    color, 0.5s;

}

.button-form button:hover {
    background-color: #ADD8E6;
    color: #FFFFFF;
}

.div-olvidaste {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}









