/* PARCIAL DE LISTADO DE PRODUCTOS */

.card-admin {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

.card-left-admin {
    display: flex;
    margin-right: 15px;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1% 1%;
    background-color: #00a8a8;
    color: white;
    text-align: center;

    border-radius: 25px;
}

.card-left-admin figure {
    height: 39vh;
    width: 210px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.card-left-admin figure img {
    width: 100%;
}

.card-content-admin {
    width: 70%;
    padding: 1rem;
    background-color: #E6E6E6;
    border-radius: 25px;
    margin-right: 5%;
}

.ver-detalle-admin {
    background-color: #3c7d8f;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    height: 27px;
    margin-top: 16px;
    margin-left: 15px;
    border-radius: 6px;
    border: none;
    text-align: center;
    transition:
        background-color, 0.5s color, 0.5s;
}

.ver-detalle-a-admin {
    background-color: #3c7d8f;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 80px;
    height: 30px;
    margin-top: 80px;
    border-radius: 6px;
    border: none;
    transition:
        background-color, 0.5s color, 0.5s;
}

.h3-product-admin {
    margin-left: 15px;
}

.p-product-admin {
    margin-top: 8px;
}

/* ----- PRODUCT MEDIA QUERY ----- */

@media only screen and (min-width: 0px) and (max-width: 492px) {
    .card-admin {
        display: flex;
        flex-direction: column;
    }

    .card-content-admin {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .card-left-admin {
        margin: auto;
        width: 70vw;
        height: 40vh;
    }

    .card-left-admin figure {
        width: 70%;
        height: 80%;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 492px) and (max-width: 718px) {
    .card-admin{
        display: flex;
        flex-direction: column;
    }

    .card-left-admin {
        margin: auto;
        width: 60vw;
        height: 50vh;
    }

    .card-left-admin figure {
        width: 70%;
        height: 75%;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .card-content-admin {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}